* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(1deg, #836cdf, #004d7d);
    min-height: 100vh;
    padding: 10px;
}

.dashboard {
    text-align: center;
    margin-bottom: 5px;
}

.dashboard h1 {
    color: #fff;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-bottom: 10px;
}

.form-section {
    background: white;
    border-radius: 20px;
    padding: 20px;
}

.form-section h2 {
    color: black;
    margin-bottom: 20px;
}

.formgroup {
    margin-bottom: 20px;
}

.formgroup label {
    display: block;
    margin-bottom: 6px;
    color: #333;
}

.formgroup input,
.formgroup select,
.formgroup textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.btn-add {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #112e9e;
    color: white;
    cursor: pointer;
}

.events-section {
    background: white;
    border-radius: 14px;
    padding: 22px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.events-section h2 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.events-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.btn-control {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #0b538bf5;
    color: white;
    cursor: pointer;
}

.event-card {
    background: #e8f4f8;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 14px;
    position: relative;
}

.del-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    cursor: pointer;
    font-weight: bold;
}

.demo-section {
    background: white;
    border-radius: 10px;
    padding: 20px;
}

.key-display {
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
}